---
import Header from "./Header.astro";
import Section from "./Section.astro";
import Footer from "./Footer.astro";
---

<main
  class="max-w-2xl p-6 md:max-w-screen-md mx-auto lg:max-w-5xl lg:mt-10 relative"
>
  <Header />
  <Section />
  <Footer />
</main>
