<footer class="grid grid-cols-1 mt-8 gap-4 md:grid-cols-3">
  <a href="#" class="grid grid-cols-3 gap-4">
    <img src="/assets/images/image-retro-pcs.jpg" alt="image retro pcs" />
    <div class="col-span-2">
      <span class="text-DarkGrayishBlue text-3xl font-extrabold">01</span>
      <h3 class="text-VeryDarkBlue font-extrabold py-2 hover:text-SoftRed">
        Reviving Retro PCs
      </h3>
      <p class="text-sm leading-6">
        What happens when old PCs are given modern upgrades?
      </p>
    </div>
  </a>
  <a href="#" class="grid grid-cols-3 gap-4">
    <img src="/assets/images/image-top-laptops.jpg" alt="image retro pcs" />
    <div class="col-span-2">
      <span class="text-DarkGrayishBlue text-3xl font-extrabold">02</span>
      <h3 class="text-VeryDarkBlue font-extrabold py-2 hover:text-SoftRed">
        Top 10 Laptops of 2022
      </h3>
      <p class="text-sm leading-6">
        Our best picks for various needs and budgets.
      </p>
    </div>
  </a>
  <a href="#" class="grid grid-cols-3 gap-4">
    <img src="/assets/images/image-gaming-growth.jpg" alt="image retro pcs" />
    <div class="col-span-2">
      <span class="text-DarkGrayishBlue text-3xl font-extrabold">03</span>
      <h3 class="text-VeryDarkBlue font-extrabold py-2 hover:text-SoftRed">
        The Growth of Gaming
      </h3>
      <p class="text-sm leading-6">
        How the pandemic has sparked fresh opportunities.
      </p>
    </div>
  </a>
</footer>
